USE [Advertisement_cp]
GO
/****** Объект:  Table [dbo].[Acts]    Дата сценария: 12/07/2021 16:04:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Acts](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AccountID] [bigint] NULL,
	[Number] [varchar](50) NULL,
	[DateCreate] [datetime] NULL,
 CONSTRAINT [PK_Acts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Acts]  WITH CHECK ADD  CONSTRAINT [FK_Acts_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Acts] CHECK CONSTRAINT [FK_Acts_Accounts]